.article {
  padding-top: 25px;
  padding-bottom: 25px;
}

.article__wrapper {
  position: relative;
  max-width: 1770px;
  width: 100%;
  min-height: 617px;
  padding: 100px 80px;
  z-index: 1;
  border-radius: 32px;
  overflow: hidden;
}

.article__header {
  max-width: 830px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
  margin-bottom: 24px;
}

.article__descr {
  max-width: 790px;
  margin-bottom: 87px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.article__btn {
  padding: 25px 39px;
  background-color: var(--accent-gold);
  border-radius: 16px;
  outline: none;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--white-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.article__btn:focus {
  background-color: var(--light-gold);
}

.article__btn:focus-visible {
  outline: 3px solid var(--darker-gold);
  outline-offset: 1px;
}

.article__btn:hover:not(:focus) {
  background-color: var(--light-gold);
}

.article__btn:active {
  background-color: var(--darker-gold);
}

.swiper.article__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.swiper-slide.article__swiper-slide_1 {
  background-image: url(/img/article-image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-slide.article__swiper-slide_2 {
  background-image: url(/img/article-img-2-1920.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-slide.article__swiper-slide_3 {
  background-image: url(/img/article-img-3-1920.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-pagination.article__pagination {
  z-index: 2;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 29px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #cacaca;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}
