.questions {
  padding-top: 57px;
  padding-bottom: 98px;
}

.questions__title {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black-color);
}

.questions__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.questions__item {
  position: relative;
  padding-top: 29px;
  padding-bottom: 28px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin-bottom: -1px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.questions__item:focus {
  outline: 0;
  border-color: var(--accent-gold);
  z-index: 1;
}

.questions__item:focus ellipse {
  fill: var(--accent-gold);
}

.questions__item:focus path {
  fill: var(--white-color);
}

.questions__item:focus .questions__btn {
  color: var(--accent-gold);
}

.questions__item:hover {
  border-color: var(--accent-gold);
  z-index: 1;
}

.questions__item:hover ellipse {
  fill: var(--accent-gold);
}

.questions__item:hover path {
  fill: var(--white-color);
}

.questions__item:hover .questions__btn {
  color: var(--accent-gold);
}

.questions__item svg {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.questions__item ellipse {
  fill: #cacaca;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.questions__item path {
  fill: var(--black-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.accordion--active svg {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--accent-gold);
}

.questions__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  visibility: visible;
}

/* .accordion__bottom {
  display: none;
} */
